*{
    margin:0;
    padding: 0;
}

.one{
    background-color: orange;
    height: 100px;
    width: 100px;
    top: 300px;
    left: 350px;
    position: absolute;

    overflow: hidden;
    transition-duration: 1.5s;
    transition-property: transform;
}

#txt{
    position: relative;
    top: 40px;
    text-align: center;
}

.one:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}