*{
    margin:0;
    padding: 0;
}

body{
    background-color: lavender;
    animation-name: first;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes first {
    0% {background-color: lavender;}
    25% {background-color: rgba(250, 54, 234, 0.781);}
    50% {background-color: rgb(73, 73, 240);}
    75% {background-color: rgb(187, 187, 245);}
    100% {background-color: rgb(239, 239, 253);}
}

.one{
    background-color: orange;
    height: 100px;
    width: 100px;
    top: 300px;
    left: 350px;
    position: absolute;

    overflow: hidden;
    transition-duration: 1.0s;
    transition-property: transform;
}

#txt{
    position: relative;
    top: 40px;
    text-align: center;
}

.one:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}