.parent{
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: aqua;
    border: 5px solid red;
    color: blue;
}

.child1, .child2{
    background-color: yellow;
    margin: 10px;
    /* padding: 5px; */
    display: inline-block;
}


/* span{
    background-color: rgb(112, 231, 112);
    padding: 50px;
    border: 5px solid black;
    margin-left: 100px;
    display: inline-block;
} */



hr{
    /* padding: 5px; */
    margin: 10px;
    background-color: aqua;
}

#hi{
    font-size: 5em;
}